h2{
    font-weight: 600;
    text-decoration: underline;
}

.customcard{
background-color: rgb(255, 255, 255);
max-height: 650px;
border-width: 2px;
}
body{

    height: 100%;
}
html{
    height: 100%;
}
a{
    color: black;
}

button{
    width: 300px;
    margin-top: 20px;
    color: black;
}
